otelcol.receiver.otlp "default" {
  http {
    endpoint = "0.0.0.0:4318"
  }
}

prometheus.exporter.otlp "default" {
  forward_to = [prometheus.remote_write.default.receiver]
}

prometheus.remote_write "default" {
  endpoint {
    url = "http://prometheus:9090/api/v1/write"
  }
}

loki.write "default" {
  endpoint {
    url = "http://loki:3100/loki/api/v1/push"
  }
}

otelcol.processor.batch "default" {
  send_batch_size = 1000
  timeout = "10s"
}

otelcol.pipeline "metrics" {
  receivers = [otelcol.receiver.otlp.default]
  processors = [otelcol.processor.batch.default]
  exporters = [prometheus.remote_write.default]
}

otelcol.pipeline "logs" {
  receivers = [otelcol.receiver.otlp.default]
  processors = [otelcol.processor.batch.default]
  exporters = [loki.write.default]
}
